.banner {
  height: 780px;
  padding: 80px 100px 120px 100px;
  background-image: url("../img/back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.bnr-text-large {
  font-size: 18px;
  color: var(--white);


}

.bnr-text-middle {
  font-size: 16px;
  color: var(--white);
  margin: 0;

}

.bnr-text-small {
  font-size: 12px;
  color: var(--white);


}

h1 {
  font-family: Lora;

  color: var(--white);
  font-size: 60px;
  line-height: 80px;
  margin: 30px 0;
  letter-spacing: 2px;
}

.banner-btn-container {
  margin-top: 40px;
  display: flex;
  margin-bottom: 14px;
}

.watch-container {
  display: flex;
  column-gap: 14px;
  align-items: center;
}

.banner-shop-btn {
  margin-right: 24px;
}

.watch-btn {
  padding: 14px 16px;
  border-radius: 24px;
  border: none;
  font-size: 18px;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;

}
.watch-btn:hover {
  color: var(--white);
  background-color: var(--accent);

}

.stats-container {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  column-gap: 46px;

}

.stats {
  background-color: var(--header-bg);
  padding: 16px;
  flex: 1;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.stats:hover {
  background-color: var(--white);

}

.stats-text {
  color: var(--accent);
  font-size: 16px;
  font-family: Lora;

  margin: 16px 0;
  font-weight: 500;
}

.stats-count {
  color: var(--accent);
  font-size: 36px;
  font-weight: bold;
  margin: 10px 0;
  padding: 0;
}
