.blog-section {

  text-align: center;
  margin-bottom: 30px;

}

.article-container {
  display: grid;
  padding: 0 50px;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  margin-bottom: 30px;
  text-align: start;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
}

.article {
  max-width: 350px;
  background-color: var(--header-bg);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);


  display: flex;
  flex-direction: column;
  height: 100%;
}

.article-img {
  max-width: 100%;
  border-radius: 10px;

}

.article-date {
  color: var(--grey);
  font-size: 14px;
  margin-left: 16px;

}

.article-title {
  margin: 16px;
  font-size: 18px;
  font-weight: bold;
  font-family: Lora;
}

.article-text {

  color: var(--dark-grey);
  font-size: 16px;
  text-wrap: wrap;
  margin: 0 16px;

    flex-grow: 1;


}
.read-more {
  color: var(--white);
  background-color: var(--accent);

  font-size: 14px;
  font-weight: 500;

  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  margin: 16px;
  cursor: pointer;

  transition: background-color 0.2s;
  width: 150px;

}
.read-more:hover {
  background-color: var(--light-accent);
}

@media (max-width: 1200px) {
.article-container {
  grid-template-columns: repeat(2, minmax(250px, 1fr));

  justify-content: center;
  align-items: center;


}
  .article {
    max-width: 100%;
  }
}
@media (max-width: 680px) {
  .article-container {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    padding: 0 25px;
  }
  .article-title {
    margin:   8px;
  }
  .article-date {
    margin: 8px;
  }
  .article-text {
    margin: 0 8px;
    font-size: 14px;
  }
  .read-more {
    margin: 16px 8px ;
    padding: 6px 8px;
  }
}


@media (max-width: 480px) {
  .article-container {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    justify-items: center;
  }
  .article {
    max-width: 350px;
  }
}
