.email-section {
  background-image: url("../img/background-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;


}
.email-container {
  backdrop-filter: blur(9px);
  border: 1px solid var(--grey-green);
  border-radius: 16px;
  flex: 1;
  max-width: 550px;
  text-align: center;
  padding:  36px;
  transition: border 0.4s ease, backdrop-filter 0.4s ease;

}
.email-container:hover {
  border: 1px solid var(--header-bg);
  backdrop-filter: blur(20px);

}


.email-title {
  margin:0 0 20px;
  color: var(--white);
  font-weight: bold;
  font-size: 42px;

}
.email-text {
  color: var(--white);
  font-size: 16px;
  margin-bottom: 36px;
}

.email-btn {
  color: var(--white);
  background-color: var(--accent);

  font-size: 16px;
  font-weight: 500;

  border: none;
  border-radius: 6px;
  padding: 14px 24px;
  cursor: pointer;

  transition: background-color 0.2s;

}
.email-btn:hover {
  background-color: var(--light-accent);
}
.email-input {
  background-color: var(--white);
  font-size: 16px;

  border: none;
  border-radius: 6px;
  padding: 13px;
  width: 250px;
  margin-right: 5px;
}
.email-input:focus {
  outline: none;}


@media (max-width: 1000px){
  .email-section {

    height: 400px;
    padding: 0 20px;


  }
  .email-container {
    max-width: 550px;
    padding:  38px;

  }

  .email-title {
    margin:0 0 20px;
    font-size: 38px;

  }

}

@media (max-width: 630px){
  .email-section {

    height: 400px;
    padding: 0 20px;


  }
  .email-container {
    max-width: 400px;
    padding:  20px;

  }

  .email-title {
    font-size: 28px;

  }
  .email-text {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .email-btn {

    font-size: 14px;
    border-radius: 6px;
    padding: 10px 18px;


  }
  .email-input {
    background-color: var(--white);
    font-size: 14px;

    padding: 9px;
    width: 150px;
    margin-right: 5px;
  }

}


@media (max-width: 360px){
  .email-section {

    height: 400px;
    padding: 0 20px;


  }
  .email-container {
    max-width: 400px;
    padding:  20px;

  }

  .email-title {
    font-size: 24px;
    margin-bottom: 15px;

  }
  .email-text {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .email-input {
    width: 180px;
    margin-right: 0;
    margin-bottom: 10px;
  }

}
