.footer-container {
  display: flex;
  background-color: var(--accent);
  padding: 40px 24px;
}
.footer-left{
  display: flex;
  flex: 1;
  align-items: center;
}
.footer-logo {
  height: 48px;
  border-radius: 24px;
  margin-right: 12px;
}
.footer-website-name {
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
  margin: 0;

}
.footer-site-map, .footer-right {
  flex: 1;
  text-align: center;

}
.footer-link, .footer-text {
  display: block;
  color: var(--header-bg);
  font-size: 15px;
  text-decoration: none;
  margin-bottom: 8px;
  cursor: pointer;
}
.footer-link:hover {
  color: var(--white);
}
.footer-text {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--white);
  cursor: auto;
}

@media (max-width: 768px) {
  .footer-website-name {
    font-size: 20px;

  }
}

@media (max-width: 480px) {
  .footer-container {
    padding: 14px;
  }

  .footer-logo {
    height: 24px;
    border-radius: 24px;
    margin-right: 8px;
  }
  .footer-website-name {
    font-size: 16px;
  }
  .footer-link, .footer-text {
    font-size: 11px;
    margin-bottom: 5px;
  }

  .footer-text {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
@media (max-width: 360px) {
  .footer-website-name {
    font-size: 12px;

  }
}

