:root {
  --white: #f9fafb;
  --header-bg: #dadada;
  --text-primary: #111827;
  --grey: #707070;
  --dark-grey: #343434;
  --black: #000000;
  --accent: #003b00;
  --light-accent: #075707;
  --grey-green: #5e7a62;
}

body {
  margin: 0;
  font-family: Lora;


}


.green-title {
  font-weight: bold;

  color: var(--accent);
  font-size: 46px;
  letter-spacing: 1px;
  text-align: center;
  margin: 50px 0 20px;
}

.green-text {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 60px;
}

@media (max-width: 768px) {

  .green-title {
    font-size: 34px;
    letter-spacing: 0;
    margin: 20px 0 8px;
  }

  .green-text {
    font-size: 14px;
    margin-bottom: 40px;
  }

}

@media (max-width: 560px) {

  .green-title {
    font-size: 24px;
    letter-spacing: 0;
    margin: 20px 0 8px;
  }

  .green-text {
    font-size: 13px;
    margin-bottom: 30px;
  }

}

@media (max-width: 360px) {

  .green-title {
    font-size: 18px;
    margin: 10px 0 6px;
  }

  .green-text {
    font-size: 12px;
    margin-bottom: 20px;
  }

}

