

.header {
  display: flex;
  background-color: var(--header-bg);
  height: 100px;
  justify-content: space-between;
  padding:  0 100px;


}

.left-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;


}

.logo {
  height: 48px;
}

.website-title {
  font-size: 32px;
  font-weight: 500;
  color: var(--accent);
  margin-left: 10px;


}
.burger-btn {
  display: none;
}
.nav-section {
  display: flex;
  align-items: start;
  padding-top: 30px;
  justify-content: space-between;
  width: 450px;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0;
  transition: border-bottom 0.05s;
  color: var(--accent);
  cursor: pointer;
}

.nav-link:hover {
  border-bottom: 3px solid var(--accent);
}

@media (max-width: 1200px) {
  .burger-btn {
    display: block;
    border: none;
    font-size: 24px;
    background-color: transparent;
    color: var(--accent);
    margin-right: 16px;
    padding-top: 6px;
    cursor: pointer;


  }
  .nav-section {
    display: none;
  }

}


.right-section {
  display: flex;
  justify-content: space-between;
  width: 240px;
  align-items: center;

}

.shop-btn {
  background-color: var(--accent);
  color: var(--white);
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 30px;
  transition: opacity 0.1s;
  cursor: pointer;

}
.shop-btn:hover {
  opacity: 0.7;

}

.search-btn, .cart-btn {
  background-color: var(--white);
  border: none;
  border-radius: 6px;
  color: var(--accent);
  font-size: 18px;
  padding:  8px 10px;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;

}
.search-btn:hover, .cart-btn:hover {
  color: var(--white);
  background-color: var(--accent);

}


